/* --------------HEADER----------------------- */
<<<<<<< Updated upstream
.site {
  border: 1px solid #ececec;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
}

.site-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--studio-header-logo-color);
  padding-bottom: 25px;
  padding-top: 24px;
  margin-right: 93px;
}

.navigation-container {
  display: flex;
  align-items: center;
}

.site-container {
  display: flex;
  align-items: center;
}

.site-logo-span {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--web-logo-color);
}

.site-nav-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  position: relative;
}

.site-nav-list {
  display: flex;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-link.active::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: rgba(33, 150, 243, 1);
  position: absolute;
  display: block;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
}

.site-nav-link,
.contacts-mail,
.contacts-tel {
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-tel,
.contacts-mail {
  color: var(--header-contacts-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts-item {
  display: flex;
}

.contacts-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-contacts-text-color);
  display: flex;
  margin-left: auto;
}
=======
>>>>>>> Stashed changes

/* ----------------------HOVER-FOCUS--------------------------- */

/* ----------------------HERO---------------------------- */

/* ----------------- PECULIARITEIS--------------------------- */

/* -----------------  WHAT WE DO --------------------------- */

/* -----------------  COMMADS --------------------------- */

/* -----------------  REGULAR CUSTOMERS --------------------------- */

/* -----------------  FOOTER --------------------------- */

/* -----------------  PORTFOLIO --------------------------- */

/* -----------------  MODAL ----------------------------- */
<<<<<<< Updated upstream

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translateX(50px);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background-color: #fff;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translateX(0);
  transform: translate(-50%, -50%);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 40px;
}

.modal-close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  /* margin-top: 28px; */
  padding-right: 15px;
  padding-left: 42px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-license {
  font-size: 14px;
  line-height: 24px;
  line-height: 1.46%;
  box-sizing: border-box;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-license:focus,
.modal-form-comments:focus,
.modal-form-input:focus {
  border-color: var(--hover-focus-color);
}

.modal-form-input:focus + .form-icon {
  fill: var(--hover-focus-color);
}

.modal-form-comments {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  /* margin-top: 28px; */
  padding: 12px 16px;
  outline: none;
  display: block;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  margin-top: 12px;
}
.modal-field:not(:first-child) {
  margin-top: 10px;
}

.modal-license {
  color: #2196f3;
  text-decoration: underline;
}

.input-wrap {
  position: relative;
}

.input-icon {
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.form-btn {
  width: 200px;
}

.check-item {
  width: 16px;
  height: 15px;
  border: 2px solid var(--second-title-color);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-text {
  font-size: 14px;
  line-height: 1.46em;
  display: flex;
  align-items: center;
}
.check-icon {
  fill: #ffffff;
}
.input-checkbox:checked + .check-text .check-item {
  background-color: var(--hover-focus-color);
  border: none;
}
.modal-check {
  justify-content: center;
  margin-top: 20px;
  display: flex;
}

.modal-btn {
  margin-top: 30px;
}
.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

textarea {
  resize: none;
}
=======
>>>>>>> Stashed changes
