.header {
  border: 1px solid #ececec;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
}
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--web-logo-color);
}

.logo__dark {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--studio-header-logo-color);
  padding-bottom: 25px;
  padding-top: 24px;
  margin-right: 93px;
}

.header__container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  position: relative;
  &:hover,
  &:focus {
    color: var(--hover-focus-color);
  }
}

.navigation__list {
  display: flex;
}

.navigation__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation__link.navigation__link__active::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: rgba(33, 150, 243, 1);
  position: absolute;
  display: block;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
}

.navigation__link,
.navigation-contacts__link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation-contacts__link {
  color: var(--header-contacts-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover,
  &:focus {
    color: var(--hover-focus-color);
  }
}

.navigation-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.navigation-contacts__item {
  display: flex;
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-contacts-text-color);
  display: flex;
  margin-left: auto;
}

.contacts-icon:hover,
.contacts-icon:focus {
  fill: currentColor;
}
