.peculiarities {
  // display: flex;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.peculiarities__item {
  margin-top: 30px;

  &:first-child {
    margin-top: 0px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
    margin-left: 30px;
    &:nth-child(-n + 2) {
      margin-top: 0px;
    }
    &:nth-child(2n + 1) {
      margin-left: 0px;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100%-90px) / 4);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 30px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.peculiarities__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--second-title-color);
  @media screen and (max-width: 1200px) {
    text-align: center;
  }
}
.peculiarities__text {
  margin-top: 10px;
}

.peculiarities__box {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
