:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --footer-contacts-text-color: rgba(255, 255, 255, 0.6);
  --footer-link-color: #ffffff;
  --header-contacts-text-color: #757575;
  --hover-focus-color: #2196f3;
  --hero-btn-color: #188ce8;
  --web-logo-color: #2196f3;
  --studio-header-logo-color: #212121;
  --studio-footer-logo-color: #ffffff;
  --main-btn-color: #ffffff;
  --background-btn-color: #2196f3;
  --background-portfolio-btn-color: #f5f4fa;
  --background-hero-footer-color: #2f303a;
  --background-commands-color: #f5f4fa;
  --background-item-commads: #ffffff;
  --second-btn-color: #212121;
  --portfolio-btn-accent-color: #ffffff;
}
